---
layout: default
---

<section id="hero-spot" class="hero-spot text-center"> 
  <h1>LeData.science</h1>
  <h2>Hire a Scientist, get one step ahead</h2>
  <div class="nav-wrapper">
    <nav>
      <ul>
        <li class="nav-social"><a href="#portfolio" title="link to projects" class="">Portfolio</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        {% if site.github_username %}
        <li class='nav-social'>
          <a href="https://github.com/{{ site.github_username }}" target="_blank"><span class="icon">{% include icon-github.svg %}</span></a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li class='nav-social'>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><span class="icon">{% include icon-twitter.svg %}</span></a>
        </li>
        {% endif %}

        {% if site.kaggle_username %}
        <li class='nav-social'>
          <a href="https:/kaggle.com/{{ site.kaggle_username }}" target="_blank"><span class="icon">{% include icon-kaggle.svg %}</span></a>
        </li>
        {% endif %}

        {% if site.linkedin_username %}
        <li class='nav-social'>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><span class="icon">{% include icon-linkedin.svg %}</span></a>
        </li>
        {% endif %}
        
        {% if site.email %}
        <li class='nav-social'>
          <a href="mailto:{{ site.email}}?Subject=We%20need%20you%20to%20work%20for%20us."><span class="icon">{% include icon-email.svg %}</span></a>
        </li>
        {% endif %}

        {% if site.cv %}
        <li class='nav-social'>
          <a href={{ "/portfolio/[D.Majard]_[Data.Science]_[CV]_2pages.pdf" | relative_url }} target="_blank"><span class="icon">{% include icon-cv.svg %}</span></a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</section>

<section class="main-page" id="intro">
  <div class="container text-center">
    <div>
      <div class="space-line"></div>
      <h1>Dany Majard</h1>
    </div>
    <div>
      <img src="images\face.png" alt="" class="rounded-circle">
      <h5>A pure scientist, a speaker, a technician.</h5>
    </div>
  </div>
</section>

<section class="main-page" id="skills">
  <div class="container text-center">
    <div class="space-line"></div>
    <h1>Expertise</h1>
    <div class="row">
      <div class="sbox col-md-6">
        <h2>Analysis</h2>
        <i>{% include icon-r.svg %}</i>
        <i>{% include icon-python.svg %}</i>
        <i>{% include icon-aws2.svg %}</i>
        <p>The base of every improvement is a good grasp on the realities of a company. Being able to extract meaning out of raw data is the foundation of the data scientist's potential. With tools such as R, Python Hadoop and Amazon Web Services, amongst others, there should be no secret left.</p>
      </div>

      <div class="sbox col-md-6">
        <h2>Communication</h2>
        <i>{% include icon-tableau.svg %}</i>
        <i>{% include icon-matplotlib.svg %}</i>
        <i>{% include icon-jupyter.svg %}</i>
        <p>Being able to carry that meaning across to those whose life is most impacted by it is crucial to every problem solving. Combined experience in teaching, showcasing research results and company products makes me a clear, concise and thorough communicator.</p>
      </div>
    </div>
    <div class="row">
      <div class="sbox col-md-6">
        <h2>Research</h2>
        <i>{% include icon-pencil.svg %}</i>
        <i>{% include icon-latex.svg %}</i>
        <i>{% include icon-book.svg %}</i>
        <p>The part of data science that is the least instagram worthy but which brings the most mileage to your investment is research. With experience in pure physics and mathematics in academia, there is little challenge I am unwilling to undertake.</p>
      </div>

      <div class="sbox col-md-6">
        <h2>Leadership</h2>
        <i>{% include icon-basecamp.svg %}</i>
        <i>{% include icon-pipefy.svg %}</i>
        <i>{% include icon-github.svg %}</i>
        <p>There is no better way to achievement than efficient team work. With great interpersonal skills, a history of management positions and familiarity with many project management tools, I am ready to make things happen for you.</p>
      </div>
    </div>
  </div>
</section>

<section class="main-page" id="experience">
  <div class="container text-center"> 
    <div class="space-line"></div>
    <h1>Experience</h1> 
    <div class="job-wrapper">
      <div>
          <h2>Director of Sales</h2>
          <h3>2014-2016</h3>
          <i class="icon-left">{% include work-festka.svg %}</i>
        <div class="job-box">
          <p>Managed the international sales of a cycling manufacturer in the high-end/luxury sector.</p>
          <ul>
            <li>Established an international distribution network of 25 partners</li>
            <li>Created a sales system with analytics tools via google sheets and scripts</li>
            <li>enhanced procedures for data collection and analysis</li>
            <li>Took care of the CRM, increasing sales by 300%.</li>
            <li>Assisted clients with geometry and generated production drawings using BikeCad</li>
            <li>Traveled extensively to raise brand awareness via events</li>
            <li>Worked with Pipefy.com on the development of their process management platform</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="job-wrapper">
      <div>
        <h2>Post-Doctorate Fellow</h2>
        <h3>2012-2014</h3>
        <i class="icon-left">{% include work-masaryk.svg %}</i>
        <div class="job-box">
          <p>Research position at the Mathematics Department, part of the Eduard Cech grant program. Continued study on the cubical higher categories and their relationships to the classification of cobordisms.</p>
          <ul>
            <li>Research on Higher Category Theory, connected to many subjects from quantum gravity to linguistics</li>
            <li>Wrote and gave a course on graphical calculus and monoidal categories</li>
            <li>Gave talks in many prestigious universities</li>
            <li>Initiated a weekly lunchtime meeting for research updates and brainstorming</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-page" id="education">
  <div class="container text-center">
    <div class="space-line"></div>
    <h1>Education</h1>
    <div class="row text-center">
      <div class="sbox col-md-4">
        <h2>Specialization</h2>
        <i>{% include uni-washington.svg %}</i>
        <h3>Data Science at scale</h3>
        <p>Coursera studies not centered around any particular language with courses on Databases and Relational Algebra, Principles of Data Vizualization, Ethics of Data Science and Paralell Computing on the cloud for Big Data, concluded by a Capstone project for the city of Detroit on blight reduction through demolition forecasting.</p>
      </div>
      <div class="sbox col-md-4">
        <h2>Specialization</h2>
        <i>{% include uni-michigan.svg %}</i>
        <h3>Applied Data Science with Python</h3>
        <p>Coursera studies centered on Python with courses in Machine Learning models, Natural Language Processing and Social Network Analysis.</p>
      </div>
      <div class="sbox col-md-4">
        <h2>Specialization</h2>
        <i>{% include uni-hopkins.svg %}</i>
        <h3>Data Science</h3>
        <p>Coursera studies centered on R with courses on Data Cleaning, Data Visualization, Reproducibility, Machine Learning and Data Product Development.</p>
      </div>
    </div>
    <div class="row">
      <div class="sbox col-md-4">
        <h2>PhD</h2>
        <i>{% include uni-kansas.svg %}</i>
        <h3>Pure Mathematics</h3>
        <p>Doctoral studies, with an emphasis on higher dimensional algebraic structures Topological Quantum Field Theories. Higher Category Theory is also connected to quantum computing and linguistics, but the thesis' focus was on topology and quantum gravity.</p>
      </div>
      <div class="sbox col-md-4">
        <h2>MSc</h2>
        <i>{% include uni-luminy.svg %}</i>
        <h3>Theoretical Physics</h3>
        <p>General studies, with a specialization in mathematical structures of the standard model. Couses includes Special and General Relativity, Statistical Mechanics, Quantum Physics, Group Theory, Classical Mechanics and Lie Algebras...</p>
      </div>
      <div class="sbox col-md-4">
        <h2>DUT</h2>
        <i>{% include uni-reims.svg %}</i>
        <h3>Physical Measurements</h3>
        <p>Technical studies in physical and chemical measurements. Very extensive - includes topics such as Programming, Fluid Dynamics, Thermodynamics, Optics, Acoustics, Organic and Minereal Chemistry...</p>
      </div>
    </div>
  </div>
</section>

<section class="main-page" id="portfolio">
  <div class="container text-center">
    <div class="space-line"></div>
    <h1>Portfolio</h1>
    <div class="row">     
      <div class="sbox col-md-4">
        <h2>Blight in Detroit</h2>
        <img src="./images/Detroit.png" height="100">
        <h3>Building Definition</h3>
        <p>Preparation phase for a study of blight in the city of Detroit in order to later build machine learning models preventing unnecessary demolitions.</p>
        <a href="./portfolio/Detroit-Blight-Compact.html" class="btn btn-primary" target="_blank">View</a>
        <div>
          <span class="badge badge-secondary">Python</span>
          <span class="badge badge-secondary">Pre-processing</span>
          <span class="badge badge-secondary">Geolocalization</span>
        </div>
      </div>
      <div class="sbox col-md-4 hidden">
        <h2>Store Sales</h2>
        <img src={{ "/images/Corporacion_favorita.png" | relative_url}} height="100">
        <h3>Feature Selection</h3>
        <p>Analysis of daily transactions of 46 stores of a major Ecuadorian supermatket chain to find groups of similar stores in terms of customer behavior.</p>
        <a href="https://www.kaggle.com/thepathofd/a-first-kaggle-part-1-forecasting-store-47/notebook" target="_blank" class="btn btn-primary">View</a>
        <div>
          <span class="badge badge-secondary">Python</span>
          <span class="badge badge-secondary">Time series</span>
          <span class="badge badge-secondary">Clustering</span>
        </div>
      </div>
    </div>
  </div>
</section>


<script>window.slides = {"bootstrap":"Bootstrap","yeoman":"Yeoman","facebookdesign":"Facebook Design","foundation":"Foundation","ghtraining":"GitHub Training","adobeos":"Adobe Open Source","jekyllrb":"Jekyll","electron":"Electron","semanticui":"Semantic UI","microsoft":"Microsoft on GitHub"}</script>
