// /**
//  * Site header
//  */
// .site-header {
//     border-top: 5px solid $color-grey-dark;
//     border-bottom: 1px solid $color-grey-light;
//     min-height: 56px;

//     // Positioning context for the mobile navigation icon
//     position: relative;
// }

// .site-title {
//     font-size: 26px;
//     font-weight: 300;
//     line-height: 56px;
//     letter-spacing: -1px;
//     margin-bottom: 0;
//     float: left;

//     &,
//     &:visited {
//         color: $color-grey-dark;
//     }
// }

.sbox {
    padding: 10px;

    h2 {
        color: $color-grey-dark;
        font-size: 24px;
        font-weight: 800;
        padding-top: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        text-align: justify;
        display:block;
        margin-top: 10px;
        padding-top: 10px;
    }

    i {
        margin: 10px;
        width: 200px;
        height: 75px;
    }

    .btn {
        margin-bottom: 10px;
    }

    svg {
        fill: $color-grey-dark;        
    }
}

/**
 * The hero image 
 */

#hero-spot{
    color:white;
    padding:40px 0 50px;
    position:relative;
    overflow:hidden;
    background:#4d4d4d;
    background-image: url($hero-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    height: 85vh;
    max-height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align:center;
        text-shadow: .1em .1em .1em #000;
        text-transform: capitalize;
        -webkit-backface-visibility:hidden;
        margin:90px auto 0 auto;
        font-size: 4em;
        font-weight: 700;
        line-height: 60px;
        max-width:910px;
        @include media-query($on-palm) {
            font-size: 2.5em;
        }
    }

    h2 {
        text-shadow: .1em .1em .1em #000;
        -webkit-backface-visibility:hidden;
        max-width:none;
        font-weight:7300;
        margin: 20px auto 60px;
    }
}

.nav-wrapper {
    position:absolute;
    width:100%;
    bottom: 0;
    ul {
        margin: 0 auto;
    }
    nav {
        display: inline-block;
        margin: 1rem;
    }
}

.nav-social {
    display: inline;
    list-style: none;
    position: relative;

    a {
        text-decoration: none !important;
        font-size: 1.4em;
        color: white !important;
        font-weight: bold;
        display: inline-block;
        padding-top: 15px;
    }
}

.rounded-circle {
    height: 240px;
    width: 240px; 
    margin: 15px;
    border: 4px solid $brand-color;
}

.space-line {
    width: 180px;
    height: 1px;
    margin: 30px auto 0;
    border-bottom: 2px solid $brand-color;
}

.main-page {
    h1{
        margin-top: 15px;
        font-size: 40px;
        font-weight: 800;
        color: $color-grey-dark;
    }
}

.job-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;

    h2 {
        color: $color-grey-dark;
        font-size: 24px;
        font-weight: 800;
        padding-top: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.job-box{
    display: block;
    margin:10px;
    padding: 10px;
    p {
        text-align: justify;
    }

    ul {
        text-align: left;
        overflow: auto;
    }
}

@media only screen and (min-width:550px) {

    .icon-left {
        float: left;
        padding: 15px;
    }
}


.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $color-grey-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $color-grey-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $color-grey;
}

.post-link {
    display: block;
    font-size: 24px;
}

/*.wrapper{
    position:relative;
    padding: 0 15px;
    margin:0 auto
}*/


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.site-footer {
    background-color: $brand-color;
    color: white;

    h1 {
        text-shadow: .1em .1em .1em #000;
        text-transform: capitalize;
        -webkit-backface-visibility:hidden;
        margin:90px auto 0 auto;
        font-size: 4em;
        font-weight: 700;
        line-height: 60px;
        max-width:910px;
        @include media-query($on-palm) {
            font-size: 2.5em;
        }
    }

    h2 {
        text-shadow: .1em .1em .1em #000;
        -webkit-backface-visibility:hidden;
        max-width:none;
        font-weight:7300;
        margin: 20px auto 10px;
    }

}